.u-block-b7b6-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-b7b6-3 {
  position: absolute;
  left: 0;
}

.u-block-b7b6-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/WhatsAppImage2022-09-16at9.24.53PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 712px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 871px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 43px 40px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}